body {
    background-color:#f0f0f0;
}

.ppedit-container
{
    position:relative;
    width:920px;
    height:1325px;
    padding: 0px 0px 0px 0px;
    margin-left: auto;
    margin-right: auto;

}

.superContainer
{
    float: left;
    position:relative;
    /*width:1040px;
    height:1426px;
    border-style:solid;
    border-width:2px;
    border-color:black;
    padding: 0px 0px 0px 0px;
    margin-left: auto;
    margin-right: auto;*/
}

.editContainer
{
    
    margin-top: 40px;
    margin-bottom: 20px;
    margin-right: 0px;
    margin-left: 0px;
    position: relative;
    width:980px; 
    height:1386px; 
    border:30px solid #fff; 
    top: -20px; 
    left: 12%;
    overflow: hidden;
}

.ppedit-box-container
{
    position:absolute;
    width:918px;
    height:1320px;

    padding: 0px 0px 0px 0px;

    overflow-y: auto;
    overflow-x: hidden;
}

.ppedit-box
{
    position:absolute;
    
    border-style:solid;
    border-width:1px;
    border-color:#cacaca; 
    
    resize:both;
    overflow:auto;

    /*background-color: rgba(255, 255, 255, 1);*/
}

.ppedit-box-selected
{
    border-style:dashed;
}

.ppedit-box-focus,
.ppedit-box:focus
{
    background-color: #fff;
    opacity:0.5;
}

.ppedit-canvas
{
    position: absolute;
    z-index: -500;
}

.ppedit-slider
{
    width:100px;
}

.ppedit-grid
{
    position: absolute;
    width:inherit;
    height:inherit;
    opacity:0.5;
    z-index: -499;
}

.ppedit-vDotLine
{
    border-right: 1px dotted #0099CC; 
    height: inherit;
    position: absolute; 
    left: 50px; 
    top: 0px;
}

.ppedit-hDotLine
{
    border-bottom: 1px dotted #0099CC;
    width:inherit;
    position: absolute; 
    left: 0px; 
    top: 50px;
}