
.left-sidebar {
    width:50px; 
    height:100vh; 
    background-color:#888; 
    position:fixed; 
    top:0px; 
    padding:10px;
}

.icon-set {
    padding-bottom: 15px;
}



/* Right side panel */
.menu-sidebar
{
    position: fixed;
    right: 0px;
    top: 65px;
}

.menu-tab-sidebar
{
    width:50px;
    height:250px;
    display:block;
    border-radius:5px 0px 0px 5px;
    top:65px;
    z-index:50;
    right:0px;
    float:left;
}

.minimize-sidebar-btn {
    width:50px;
    height:41px;
    display:block;
    background-color:#e84842;
    border-radius:5px 0px 0px 5px;
    z-index:50;
}

.menu-right-btn {
    width:50px;
    height:70px;
    display:block;
    background-color:#e84842;
    border-radius:5px 0px 0px 5px;
    z-index:50;
}

.page-sidebar-tab {
    display: table-cell;
    vertical-align: middle;
}

.right-sidebar-container {
    width:350px;
    height:250px;
    display:block;
    background-color:#fbfbfb;
    z-index:50;
    margin-right:-350px;
    float:left;
}

.right-sidebar-menu1 {
    padding:10px;
    min-height: 40px;
}

.right-sidebar-menu2 {
    height:175px;
    border-top:1px solid #cacaca;
    padding-top:15px;
    display:block;
    overflow:scroll;
}

.shadow-effect {
    -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 6px rgba(0,0,0,0.6);
    -webkit-font-smoothing: antialiased;
}

.vertical-text {
    display:block;
    color:#fff;
    font-family:'Oswald', sans-serif;
    font-size:20px;
    font-weight:400;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.minimize-text
{
    display:block;
    color:#fff;
    font-family:'Oswald', sans-serif;
    font-size:20px;
    font-weight:400;
    text-align: center;
}

.menu-panel-icon
{
    width:32px;
    height:17px;

    background-repeat: no-repeat;
    background-size: contain;

    float:left;
    margin-top: 2px;
    cursor: pointer;
}

.moveElementUpBtn
{
    background-image: url(../img/icons/OFF/glyphicons_213_up_arrow.png);
}

.moveElementUpBtn:hover
{
    background-image: url(../img/icons/ON/glyphicons_213_up_arrow.png);
}

.moveElementDownBtn
{
    background-image: url(../img/icons/OFF/glyphicons_212_down_arrow.png);
}

.moveElementDownBtn:hover
{
    background-image: url(../img/icons/ON/glyphicons_212_down_arrow.png);
}

.addElementBtn
{
    background-image: url(../img/icons/OFF/glyphicons_432_plus.png);
}

.addElementBtn:hover
{
    background-image: url(../img/icons/ON/glyphicons_432_plus.png);
}



/* Right Side Panel -- END */


.editContainer0 {
    width:980px; 
    height:1300px; 
    border:30px solid #fff; 
    display:block; 
    position: absolute; 
    top:65px; 
    left:50%; 
    margin-left:-465px;
}

.editContainer1 {
    width:980px; 
    height:1300px; 
    border:30px solid #fff; 
    display:block; 
    position: absolute; 
    top:1400px; 
    left:50%; 
    margin-left:-465px;
}

.ppedit-container
{
    position:relative;
    width:920px;
    height:1240px;
    padding: 0px 0px 0px 0px;
    margin-left: auto;
    margin-right: auto;

}

.ppedit-box-container
{
    position:absolute;
    width:inherit;
    height:inherit;
    padding: 0px 0px 0px 0px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.ppedit-box
{
    position:absolute;
    
    border-style:solid;
    border-width:1px;
    border-color:orange; 
    
    resize:both;
    overflow:auto;

    background-color: transparent;
}

.ppedit-box-selected
{
    border-style:dashed;
}

.ppedit-box-focus,
.ppedit-box:focus
{
    border-color:blue;
    border-style:dashed;
    background-color: rgba(200, 200, 200, 0.1);
}

.ppedit-canvas
{
    position: absolute;
    z-index: -500;
}

.ppedit-slider
{
    width:100px;
}

.ppedit-grid
{
    position: absolute;
    width:inherit;
    height:inherit;
    opacity:0.5;
    z-index: -499;
}

.ppedit-vDotLine
{
    border-right: 1px dotted #0099CC; 
    height: inherit;
    position: absolute; 
    left: 50px; 
    top: 0px;
}

.ppedit-hDotLine
{
    border-bottom: 1px dotted #0099CC;
    width:inherit;
    position: absolute; 
    left: 0px; 
    top: 50px;
}


