.left-sidebar {
    width: 50px;
    height: 100%;
    background-color: #888;
    position: fixed;
    top: 0px;
    padding: 10px;
    left: 0px;
}

.icon-set {
    padding-bottom: 15px;
}
/*.gridElementBtn.icon-set {
    padding-top: 10px;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.snapBtn.icon-set {
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 15px;
}*/

.undoBtn {
    background-image:url('../img/icons/glyphicons_221_unshare.png');
    background-color:#888;
    border-color:#888;
}

.redoBtn {
    background-image:url('../img/icons/glyphicons_222_share.png');
    background-color:#888;
    border-color:#888;
}

.gridElementBtn {
    background-image:url('../img/icons/glyphicons_155_show_big_thumbnails.png');
    background-color:#888;
    border-color:#888;
}
.snapBtn {
    background-image:url('../img/icons/glyphicons_023_magnet.png');
    background-color:#888;
    border-color:#888;
}

/* Right side panel */
.menu-sidebar
{
    position: fixed;
    right: 0px;
    top: 65px;
    z-index: 900;

    -webkit-transition: right 1000ms;
    -moz-transition: right 1000ms;
    -ms-transition: right 1000ms;
    -o-transition: right 1000ms;
    transition: right 1000ms;

    /* Chrome redraw bug fix : forcing gpu hardware acceleration */
    -webkit-transform: translate3d(0, 0, 0);
}

.menu-sidebar-open
{
    right: 350px;
}

.menu-tab-sidebar
{
    width:50px;
    height:250px;
    display:block;
    border-radius:5px 0px 0px 5px;
    top:65px;
    z-index:50;
    right:0px;
    float:left;
}

.minimize-sidebar-btn {
    width:50px;
    height:41px;
    display:block;
    background-color:#e84842;
    border-radius:5px 0px 0px 5px;
    z-index:50;
}

.add-tab-sidebar-btn {
    width:50px;
    height:41px;
    display:block;
    background-color:#e84842;
    border-radius:5px 0px 0px 5px;
    z-index:50;
}

.add-text
{
    display:block;
    color:#fff;
    font-family:'Oswald', sans-serif;
    font-size:71px;
    font-weight:400;
    text-align: center;
    line-height: 24px;
}

.menu-right-btn {
    width:50px;
    height:70px;
    display:block;
    background-color:#e84842;
    border-radius:5px 0px 0px 5px;
    z-index:50;
}

.menu-tab-pages
{
    line-height: 5em;
}

.page-sidebar-tab {
}

.right-sidebar-container {
    width:350px;
    height:250px;
    display:block;
    background-color:#fbfbfb;
    z-index:50;
    margin-right:-350px;
    float:left;
}

.right-sidebar-menu1 {
    padding:10px;
    min-height: 40px;
}

.right-sidebar-menu2 {
    height:175px;
    border-top:1px solid #cacaca;
    padding-top:15px;
    display:block;
    overflow:scroll;
}

.ppedit-row-container{
    display:none;
}

.ppedit-row-container-active{
    display:block !important;
}

.shadow-effect {
    -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 6px rgba(0,0,0,0.6);
    -webkit-font-smoothing: antialiased;
}

.vertical-text {
    white-space: nowrap;
    display:block;
    color:#fff;
    font-family:'Oswald', sans-serif;
    font-size:20px;
    font-weight:400;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.minimize-text
{
    display:block;
    color:#fff;
    font-family:'Oswald', sans-serif;
    font-size:20px;
    font-weight:400;
    text-align: center;
}

.menu-panel-icon
{
    width:32px;
    height:17px;

    background-repeat: no-repeat;
    background-size: contain;

    float:left;
    margin-top: 2px;
    cursor: pointer;
}

.boldButtonEnable
{
    background-image: url(../img/icons/ON/glyphicons_102_bold.png);
}

.boldButtonDisable
{
    background-image: url(../img/icons/OFF/glyphicons_102_bold.png);
}

.italicButtonEnable
{
    background-image: url(../img/icons/ON/glyphicons_101_italic.png);
}

.italicButtonDisable
{
    background-image: url(../img/icons/OFF/glyphicons_101_italic.png);
}

.underlineButtonEnable
{
    background-image: url(../img/icons/ON/glyphicons_103_text_underline.png);
}

.underlineButtonDisable
{
    background-image: url(../img/icons/OFF/glyphicons_103_text_underline.png);
}

.leftAlignButtonEnable
{
    background-image: url(../img/icons/ON/glyphicons_110_align_left.png);
}

.leftAlignButtonDisable
{
    background-image: url(../img/icons/OFF/glyphicons_110_align_left.png);
}

.centerAlignButtonEnable
{
    background-image: url(../img/icons/ON/glyphicons_111_align_center.png);
}

.centerAlignButtonDisable
{
    background-image: url(../img/icons/OFF/glyphicons_111_align_center.png);
}

.rightAlignButtonEnable
{
    background-image: url(../img/icons/ON/glyphicons_112_align_right.png);
}

.rightAlignButtonDisable
{
    background-image: url(../img/icons/OFF/glyphicons_112_align_right.png);
}

.font-panel-icon-row
{
    width:32px;
    height:17px;

    background-repeat: no-repeat;
    background-size: contain;

    float:left;
    margin-top: 5px;
    cursor: pointer;
}

.moveElementUpBtn
{
    background-image: url(../img/icons/OFF/glyphicons_213_up_arrow.png);
}

.edit-menu {
    width:400px; 
    height:105px; 
    display:block; 
    background-color:#fbfbfb; 
    position:relative; 
    top:50px; 
    left:175px;
}
.moveElementUpBtn:hover
{
    background-image: url(../img/icons/ON/glyphicons_213_up_arrow.png);

}

.moveElementDownBtn
{
    background-image: url(../img/icons/OFF/glyphicons_212_down_arrow.png);
}

.ppedit-pageNumLabel
{
    width: 50px;
    float: left;
    cursor: pointer;
}

.ppedit-deletePage
{
    background-image: url(../img/icons/OFF/glyphicons_192_circle_remove.png);
}

.ppedit-deletePage:hover
{
    background-image: url(../img/icons/ON/glyphicons_192_circle_remove.png);
}

.edit-menu-row1-dd-ff {
    width:115px; 
    height:25px; 
    display:inline-block; 
    float:left; 
    margin-left:3px; 
    margin-right:5px; 
    font-size:10px;
}

.edit-menu-row1
{
    padding:12px;
    height:47px;
}

.edit-menu-row1-dd-fs {
    width:40px; 
    height:25px; 
    display:inline-block; 
    float:left; 
    margin-left:3px; 
    margin-right:10px; 
    font-size:10px;
}

.edit-menu-row2 {
    display:block; 
    padding:10px; 
    border-top:1px solid #cacaca;
}
.moveElementDownBtn:hover
{
    background-image: url(../img/icons/ON/glyphicons_212_down_arrow.png);
}

.addElementBtn
{
    background-image: url(../img/icons/OFF/glyphicons_432_plus.png);
}

.addElementBtn:hover
{
    background-image: url(../img/icons/ON/glyphicons_432_plus.png);
}

.deleteElementBtn
{
    margin-left: 10px;
    background-image: url(../img/icons/OFF/glyphicons_192_circle_remove.png);
}

.deleteElementBtn:hover
{
    background-image: url(../img/icons/ON/glyphicons_192_circle_remove.png);
}
/* Right Side Panel -- END */
