.left-sidebar {
    width:50px; 
    height:100vh; 
    background-color:#888; 
    position:fixed; 
    top:0px; 
    padding:10px;
}

.icon-set {
    padding-bottom: 15px;
}
/*.gridElementBtn.icon-set {
    padding-top: 10px;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.snapBtn.icon-set {
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 15px;
}*/

.undoBtn {
    background-image:url('../img/icons/glyphicons_221_unshare.png');
    background-color:#888;
    border-color:#888;
}

.redoBtn {
    background-image:url('../img/icons/glyphicons_222_share.png');
    background-color:#888;
    border-color:#888;
}

.gridElementBtn {
    background-image:url('../img/icons/glyphicons_155_show_big_thumbnails.png');
    background-color:#888;
    border-color:#888;
}
.snapBtn {
    background-image:url('../img/icons/glyphicons_023_magnet.png');
    background-color:#888;
    border-color:#888;
}

/*

Original css file.

body {
    background-color:#f0f0f0;
}

.edit-container {
    width:980px; 
    height:1386px; 
    border:30px solid #fff; 
    background-image:url('../../images/gridtest.png'); 
    display:block; 
    position: absolute; 
    top:65px; 
    left:50%; 
    margin-left:-465px;
}

.edit-img-set {
    padding-right:15px;
}

.edit-menu {
    width:265px; 
    height:105px; 
    display:block; 
    background-color:#fbfbfb; 
    position:relative; 
    top:50px; 
    left:175px;
}

.edit-menu-row1 {
    display:block; 
    padding:10px;
}

.edit-menu-row2 {
    display:block; 
    padding:10px; 
    border-top:1px solid #cacaca;
}

.edit-pointer {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fbfbfb;
    position:relative;
    top:50px;
    left:200px;
    z-index:75;
}

.edit-text-box {
    width:200px; 
    height:100px; 
    display:block; 
    border:1px solid #cacaca; 
    position:relative; 
    top:50px; 
    left:50px; 
    background-color:#fff; 
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5; color:#000;
}

.icon-set {
    padding-bottom:15px;
}

.left-sidebar {
    width:50px; 
    height:100vh; 
    background-color:#888; 
    position:fixed; 
    top:0px; 
    padding:10px;
}

.right-sidebar-btn {
    width:50px; 
    height:125px; 
    display:block; 
    background-color:#e84842; 
    margin-bottom:125px; 
    border-radius:5px 0px 0px 5px;
    position:fixed; 
    top:65px; 
    z-index:50; 
    right:0px;
}

.right-sidebar-container {
    width:350px; 
    height:250px; 
    display:block; 
    background-color:#fbfbfb;
    position:fixed; 
    top:65px; 
    z-index:50; 
    right:0px; 
    margin-right:-350px;
}

.right-sidebar-menu1 {
    padding:10px; 
    display:block;
}

.right-sidebar-menu2 {
    height:175px; 
    border-top:1px solid #cacaca; 
    padding-top:15px; 
    display:block; 
    overflow:scroll;
}

.shadow-effect {
    -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 6px rgba(0,0,0,0.6);
    -webkit-font-smoothing: antialiased;
}

.vertical-text {
    display:block; 
    color:#fff; 
    font-family:'Oswald', sans-serif; 
    font-size:20px; 
    font-weight:400; 
    margin-top:50px; 
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform: rotate(90deg); 
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
*/