.ppedit-container
{
    position:relative;
    width:600px;
    height:960px;
    border-style:solid;
    border-width:2px;
    border-color:black;
    
    padding: 0px 0px 0px 0px;
    margin-left: auto;
    margin-right: auto;

}

.ppedit-box-container
{
    position:absolute;
    width:600px;
    height:960px;

    padding: 0px 0px 0px 0px;

    overflow: auto;
}

.ppedit-box
{
    position:absolute;
    
    border-style:solid;
    border-width:1px;
    border-color:orange; 
    
    resize:both;
    overflow:auto;
}

.ppedit-box-selected,
.ppedit-box:focus
{
    border-style:dashed;
}

.ppedit-canvas
{
    position: absolute;
    z-index: -500;
}

.ppedit-slider
{
    width:100px;
}

.ppedit-grid
{
    position: absolute;
    width:600px;
    height:960px;
    opacity:0.5;
    z-index: -499;
}